In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import xarray as xr
import torch

/home/kim/eccv/.conda/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Load BedMachine from server

Export grid

In [3]:
bedmachine_ANT = xr.open_dataset("/home/kim/data/nsidc/BedMachineAntarctica-v3.nc")

In [10]:
bedmachine_all = bedmachine_ANT.to_dataframe()
bedmachine_ANT_grid = bedmachine_all.reset_index().iloc[:, 0:2]

In [11]:
bedmachine_ANT_grid
# 177 M data points on this grid

                 x        y
0         -3333000  3333000
1         -3333000  3332500
2         -3333000  3332000
3         -3333000  3331500
4         -3333000  3331000
...            ...      ...
177768884  3333000 -3331000
177768885  3333000 -3331500
177768886  3333000 -3332000
177768887  3333000 -3332500
177768888  3333000 -3333000

[177768889 rows x 2 columns]

In [ ]:
# Save as CSV
bedmachine_ANT_grid.to_csv("data/BedMachine_500mgrid_ANT.csv", index = False)  # Saves without row indices