In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import xarray as xr
import torch

# Outputs:

- Training tensor
- Test tensors (grid)

# Load data

- Merge as pd dataframe
- Make tensor
- 6 dimensions: [t, x, y, vx, vy, s]

- get suface from byrd BedMachine

In [3]:
velocity_df = pd.read_csv('data/ice_vel_myr_VX_VY_x_y_flat.csv', index_col = 0)
surface_df = pd.read_csv('data/surface_m_ellipsoid_true_s_x_y_flat.csv', index_col = 0)
byrd_bedmap_points_pixel = pd.read_csv('/home/kim/ice_thickness/data/byrd_bedmap_points_assigned_to_pixels_mean.csv')

# Training point data (on grid)

### Look up corresponding grid cell velocity values

In [4]:
# Merge 1 
txyvxvy = pd.merge(byrd_bedmap_points_pixel[['t_mean', 'x', 'y']], velocity_df, on = ['x', 'y'], how = 'left')
# how = 'left' and how = 'inner' yield the same result

In [5]:
# Merge 2
txyvxvys = pd.merge(txyvxvy, surface_df, on = ['x', 'y'], how = 'left')
# rename first column
txyvxvys.columns = ['t', 'x', 'y', 'vx', 'vy', 's']

In [6]:
txyvxvys

                 t       x       y          vx          vy            s
0        95.892778  350000 -980000   -4.737582   -9.841386   782.167542
1       640.070000  350000 -990500 -609.599060 -350.180267    14.970725
2       670.948182  350000 -991000 -613.200928 -354.121796    18.842773
3       744.478000  350000 -999000 -601.518188 -431.617889    28.710297
4        88.767143  350500 -980000   -4.236681   -7.212046   839.294312
...            ...     ...     ...         ...         ...          ...
26910  1814.238750  549500 -931000  -27.916929    7.591064  1944.993652
26911  1841.431818  549500 -931500  -27.648539    7.504141  1946.265381
26912  2167.790000  549500 -972500  -19.729582   12.029580  2044.969360
26913  1115.707500  549500 -997500   -9.347669    3.989468  2049.606689
26914  1095.000625  549500 -998000   -8.680053    4.151607  2066.624023

[26915 rows x 6 columns]

## Export pd.DataFrame as .csv

In [7]:
txyvxvys.to_csv('data/training_byrd_points_txyvxvys.csv')

## Export torch.tensor as .pt

In [8]:
torch.save(torch.tensor(txyvxvys.values.T), "data/training_byrd_points_txyvxvys.pt")

# Test data grid

In [9]:
# reorder velocity columns and merge
test_df = pd.merge(velocity_df[['x', 'y', 'vx', 'vy']], surface_df, on = ['x', 'y'], how = 'left')
test_df

               x          y        vx        vy            s
0       350000.0  -800500.0  0.434341 -1.059710  2136.356445
1       350500.0  -800500.0  0.360998 -0.840221  2131.236816
2       351000.0  -800500.0  0.710688 -0.597217  2129.025879
3       351500.0  -800500.0 -0.105596 -0.570826  2127.416504
4       352000.0  -800500.0 -1.258299 -0.594211  2126.574951
...          ...        ...       ...       ...          ...
159995  547500.0 -1000000.0 -5.763004  4.551172  2067.705078
159996  548000.0 -1000000.0 -7.035709  3.983489  2074.884766
159997  548500.0 -1000000.0 -8.368957  3.101594  2085.696777
159998  549000.0 -1000000.0 -8.271576  3.247080  2095.212646
159999  549500.0 -1000000.0 -7.614607  3.813080  2100.236572

[160000 rows x 5 columns]

## Export pd.DataFrame as .csv

In [10]:
test_df.to_csv('data/test_byrd_grid_xyvxvys.csv')

## Export torch.tensor as .pt

In [11]:
torch.save(torch.tensor(test_df.values.T), "data/test_byrd_grid_xyvxvys.pt")